
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel=icon href=favicon.png sizes="16x16" type="image/png">

    <title>Dashboard Fit</title>
<header name = "Access-Control-Allow-Origin" value = "*" />
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('css/nprogress.css')}}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('css/custom.min.css')}}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{{ asset('datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
  </head>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <img src="{{ asset('images/logo.png') }}" width="220" >
              <a href="#" class="site_title"><!--<i class="fa fa-paw"></i>--> 
                  
                <span></span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
  
              </div>
              <div class="profile_info">
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br /><div class="clearfix"></div>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">

                  <li><a href="{{ path('contrato') }}"><i class="fa fa-user"></i> Contrato</a>
                  </li>
                  <li><a href="{{ path('empresa') }}"><i class="fa fa-users"></i> Empresa</span></a>
                  </li>
                  <li><a href="{{ path('lugar') }}"><i class="fa fa-users"></i> Lugar</span></a>
                  </li>
                  <li><a href="{{ path('faena') }}"><i class="fa fa-users"></i> Faena</span></a>
                  </li>
                  <li><a href="{{ path('atributoequipo') }}"><i class="fa fa-users"></i> Atributo Equipo</span></a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <!-- <a id="menu_toggle"><i class="fa fa-bars"></i></a>-->
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{path('login')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                    {% block body %}{% endblock %}
                    
               </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Ubiquity</a>
          </div>
          <div class="clearfix"></div>
          
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <!-- NProgress -->
    <script src="{{ asset('js/nprogress.js')}}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('js/custom.min.js')}}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
