{% extends 'base.html.twig' %}

{% block body %}

  <div class="x_panel">
                  <div class="x_content">
                    <br>
                    <form id="frm_runner" action="#" data-parsley-validate="" class="form-horizontal form-label-left" method="post"  enctype="multipart/form-data">
                      <div class="form-group">
                        <input type="text" name="atributoequipo" id="atributoequipo" style="display: none;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="valor">Valor <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="valor" id="valor" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="idequipo" class="control-label col-md-3 col-sm-3 col-xs-12">Equipo<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id="idequipo" required="required">
                            <option value="0">- Select -</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="idtipoatributoequipo" class="control-label col-md-3 col-sm-3 col-xs-12">Tipo Atributo Equipo<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id="idtipoatributoequipo" required="required">
                            <option value="0">- Select -</option>
                        </select>
                        </div>
                      </div>
                    
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="button" id="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
  </div>

<div class="x_panel">
                  <div class="x_title">
                    <h2>Atributo Equipo</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   
                    <table id="tabla" class="table table-striped table-bordered">
                        <thead>
                            <td>Atributo Equipo</td>
                            <td>Valor</td>
                            <td>Equipo</th>
                            <td>Tipo Atributo Equipo</td>
                            <td>Tipo Equipo</td>
                            <td>Editar</td>
                            <td>Eliminar</td>
                        </thead>

                        <tbody>
                       
                        </tbody>
                    </table>
                   
                  </div>
                </div>


{% endblock %}

{% block javascripts %}

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
    <script>
    $(document).ready(function() {
        $('#tabla').DataTable( {
            "ajax": 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/atributoequipo/',
            columns: [
            { data: 0 },
            { data: 1 },
            { data: 2 },
            { data: 4 },
            { data: 6 },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='editar("+data[0]+",\"" + data[1] + "\","+data[2]+","+data[3]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Editar </a>";
                } },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='eliminar("+data[0]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Eliminar </a>";
                } }
            ]
            } );

        $.ajax({
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/equipo/',
            type: 'get',
            dataType: 'json',
            success: function( json ) {
                $.each(json, function(i, value) {
                    for(a=0;a<value.length;a++){
                        $('<option></option>', {text:"Equipo: "+value[a][0] +" - Tipo: "+ value[a][2]}).attr('value', value[a][0]).appendTo('#idequipo');
                    }
                });
            }
        });

        $.ajax({
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/tipoatributoequipo/',
            type: 'get',
            dataType: 'json',
            success: function( json ) {
                $.each(json, function(i, value) {
                    for(a=0;a<value.length;a++){
                        $('<option></option>', {text:value[a][1]}).attr('value', value[a][0]).appendTo('#idtipoatributoequipo');
                    }
                });
            }
        });


    });

    $("#submit").click(function () {

        id = $("#atributoequipo").val();
        valor = $("#valor").val();
        idEquipo = $("#idequipo").val();
        idTipoatributoequipo = $("#idtipoatributoequipo").val();

        if(id=="")
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
              "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
              "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/atributoequipo/create',
            data: JSON.stringify({"atributoequipo":{"valor" : valor,"idEquipo" : idEquipo, "idTipoAtributo" : idTipoatributoequipo}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }else
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/atributoequipo/',
            data: JSON.stringify({"atributoequipo":{"id" : id,"valor" : valor,"idEquipo" : idEquipo, "idTipoAtributo" : idTipoatributoequipo}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }
        window.setTimeout(function(){location.reload()},1000);
     });

     function editar(id,valor,idequipo,idtipoatributoequipo){

        $("#atributoequipo").val(id);
        $("#valor").val(valor);
        $("#idequipo").val(idequipo);
        $("#idtipoatributoequipo").val(idtipoatributoequipo);
     }

     function eliminar(id){

      $.ajax({
            type: "DELETE",
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/atributoequipo/'+id,
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
            window.setTimeout(function(){location.reload()},1000);
     }

</script>
{% endblock %}

{% block stylesheets %}

<!-- Datatables -->
    <link href="{{asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('css/buttons.bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .toolbar {
          float: left;
      }
    </style>
{% endblock %}
