{% extends 'base.html.twig' %}

{% block body %}

  <div class="x_panel">
                  <div class="x_content">
                    <br>
                    <form id="frm_runner" action="#" data-parsley-validate="" class="form-horizontal form-label-left" method="post"  enctype="multipart/form-data">
                      <input type="hidden" name="contrato" id="contrato">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="idequipo">ID Equipo <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="idequipo" id="idequipo" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="lugar" class="control-label col-md-3 col-sm-3 col-xs-12">Lugar<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id="idlugar">
                            <option value="0">- Select -</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="empresa" class="control-label col-md-3 col-sm-3 col-xs-12">Empresa<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id="idempresa">
                            <option value="0">- Select -</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="empresa">Fecha Inicio<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12 date" >
                          <input type="text" id="fechainicio" class="form-control" data-date-format="yyyy-mm-dd" name="fechainicio" value=""/>
                        </div>
                      </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="empresa">Fecha Fin</label>
                        <div class="col-md-6 col-sm-6 col-xs-12 date" >
                         <input type="text" id="fechatermino" data-date-format="yyyy-mm-dd" class="form-control" name="fechatermino" value=""/>
                        </div>
                      </div>
                    
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="button" id="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
  </div>

<div class="x_panel">
                  <div class="x_title">
                    <h2>Contrato Equipo</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   
                    <table id="tabla" class="table table-striped table-bordered">
                        <thead>
                            <td>Id Contrato</td>
                            <td>Id Equipo</td>
                            <td>Tipo</td>
                            <td>Lugar</th>
                            <td>Empresa</td>
                            <td>Fecha Incio</td>
                            <td>Fecha Termino</td>
                            <td>Editar</td>
                            <td>Eliminar</td>
                        </thead>

                        <tbody>
                       
                        </tbody>
                    </table>
                   
                  </div>
                </div>


{% endblock %}

{% block javascripts %}

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datepicker/locales/bootstrap-datepicker.es.min.js') }}"></script>
    <script>
    $(function() {
        $("#fechainicio,#fechatermino").datepicker({
            languaje:"es",
            dateFormat: 'yyyy-mm-dd'
        }).val();
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#tabla').DataTable( {
            "ajax": 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/contratoequipo/',
            columns: [
            { data: 0 },
            { data: 1 },
            { data: 2 },
            { data: 4 },
            { data: 6 },
            { data: 7 },
            { data: 8 },
            { data: null, render: function ( data, type, row ) {
                var mydate = new Date(data[7]);
                return "<a href='#' onclick='editar("+data[0]+","+data[1]+","+data[3]+","+data[5]+","+mydate.getTime()+","+data[8]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Editar </a>";
                } },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='eliminar("+data[0]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Eliminar </a>";
                } }
            ]
            } );

        $.ajax({
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/lugar/',
            type: 'get',
            dataType: 'json',
            success: function( json ) {
                $.each(json, function(i, value) {
                    for(a=0;a<value.length;a++){
                        $('<option></option>', {text:"Lugar:"+value[a][1] +" - Faena:"+ value[a][4]+" - Empresa:"+ value[a][5]}).attr('value', value[a][0]).appendTo('#idlugar');
                    }
                });
            }
        });

        $.ajax({
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/empresa/',
            type: 'get',
            dataType: 'json',
            success: function( json ) {
                $.each(json, function(i, value) {
                    for(a=0;a<value.length;a++){
                        $('<option></option>', {text:value[a][1]}).attr('value', value[a][0]).appendTo('#idempresa');
                    }
                });
            }
        });


    });

    $("#submit").click(function () {

        id = $("#contrato").val();
        idEquipo = $("#idequipo").val();
        idLugar = $("#idlugar").val();
        idEmpresa = $("#idempresa").val();
        FechaInicio = $("#fechainicio").val();
        FechaTermino = $("#fechatermino").val();

        if(FechaTermino==""){FechaTermino=null;}

        if(id=="")
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/contratoequipo/create',
            data: JSON.stringify({"contratoequipo":{"idEquipo" : idEquipo,"idLugar" : idLugar, "idEmpresa" : idEmpresa,"FechaInicio" : FechaInicio, "FechaTermino" : FechaTermino}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }else
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/contratoequipo/',
            data: JSON.stringify({"contratoequipo":{"id" : id, "idEquipo" : idEquipo,"idLugar" : idLugar, "idEmpresa" : idEmpresa,"FechaInicio" : FechaInicio, "FechaTermino" : FechaTermino}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }
        window.setTimeout(function(){location.reload()},1000);
     });

     function editar(id,idequipo,idlugar,idempresa,inicio,termino){
        var oneDay = 1 * 24 * 60 * 60 * 1000;

        var inicio = new Date(inicio);
        inicio.setTime(inicio.getTime() + oneDay);
        
        var $datepicker = $('#fechainicio');
        $datepicker.datepicker();
        $datepicker.datepicker('setDate', inicio);

        if(termino!=null){
            var termino = new Date(termino);
            termino.setTime(termino.getTime() + oneDay);

            var $datepicker = $('#fechatermino');
            $datepicker.datepicker();
            $datepicker.datepicker('setDate', termino);
        }

        $("#contrato").val(id);
        $("#idequipo").val(idequipo);
        $("#idlugar").val(idlugar);
        $("#idempresa").val(idempresa);
        //$("#fechainicio").val(inicio);
        //$("#fechatermino").val(termino);
     
     }

     function eliminar(id){

      $.ajax({
            type: "DELETE",
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/contratoequipo/'+id,
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
            window.setTimeout(function(){location.reload()},1000);
     }
</script>
{% endblock %}

{% block stylesheets %}

<!-- Datatables -->
    <link href="{{asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('css/buttons.bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .toolbar {
          float: left;
      }
    </style>
{% endblock %}
