{% extends 'base.html.twig' %}

{% block body %}

  <div class="x_panel">
                  <div class="x_content">
                    <br>
                    <form id="frm_runner" action="#" data-parsley-validate="" class="form-horizontal form-label-left" method="post"  enctype="multipart/form-data">
                      <input type="hidden" name="idempresa" id="idempresa">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Empresa <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="nombre" id="nombre" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rut">Rut <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" name="rut" id="rut" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dv">DV <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" name="dv" id="dv" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="button" id="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
  </div>

<div class="x_panel">
                  <div class="x_title">
                    <h2>Empresas</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   
                    <table id="tabla" class="table table-striped table-bordered">
                        <thead>
                            <td>Id</td>
                            <td>Nombre</td>
                            <td>Rut</td>
                            <td>Dv</th>
                            <td>Editar</td>
                            <td>Eliminar</td>
                        </thead>

                        <tbody>
                       
                        </tbody>
                    </table>
                   
                  </div>
                </div>


{% endblock %}

{% block javascripts %}

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datepicker/locales/bootstrap-datepicker.es.min.js') }}"></script>
    <script>
    $(function() {
        $("#datepicker1,#datepicker2").datepicker({languaje:"es"});
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#tabla').DataTable( {
            "ajax": 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/empresa/',
            columns: [
            { data: 0 },
            { data: 1 },
            { data: 2 },
            { data: 3 },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='editar("+data[0]+",\"" + data[1] + "\","+data[2]+","+data[3]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Editar </a>";
                } },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='eliminar("+data[0]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Eliminar </a>";
                } }
            ]
            } );
    });

      $("#submit").click(function () {

        idEmpresa = $("#idempresa").val();
        Nombre = $("#nombre").val();
        Rut = $("#rut").val();
        Dv = $("#dv").val();

        if(idEmpresa=="")
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/empresa/create',
            data: JSON.stringify({"empresa":{"nombre" : Nombre, "rut" : Rut,"dv" : Dv}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }else
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/empresa/',
            data: JSON.stringify({"empresa":{"id" : idEmpresa,"nombre" : Nombre, "rut" : Rut,"dv" : Dv}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }
        window.setTimeout(function(){location.reload()},1000);
     });

    function editar(idempresa,nombre,rut,dv){

        $("#idempresa").val(idempresa);
        $("#nombre").val(nombre);
        $("#rut").val(rut);
        $("#dv").val(dv);     
     }

     function eliminar(id){

      $.ajax({
            type: "DELETE",
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/empresa/'+id,
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
            window.setTimeout(function(){location.reload()},1000);
     }

</script>
{% endblock %}

{% block stylesheets %}

<!-- Datatables -->
    <link href="{{asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('css/buttons.bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .toolbar {
          float: left;
      }
    </style>
{% endblock %}
