{% extends 'base.html.twig' %}

{% block body %}

  <div class="x_panel">
                  <div class="x_content">
                    <br>
                    <form id="frm_runner" action="#" data-parsley-validate="" class="form-horizontal form-label-left" method="post"  enctype="multipart/form-data">
                      <input type="hidden" name="idfaena" id="idfaena">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="nombre" id="nombre" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descripcion">Descripcion
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="descripcion" id="descripcion" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigocliente">Codigo Cliente
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="codigocliente" id="codigocliente" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="idempresa" class="control-label col-md-3 col-sm-3 col-xs-12">Empresa<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" id="idempresa">
                            <option value="0">- Select -</option>
                        </select>
                        </div>
                      </div>
                    
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="button" id="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
  </div>

<div class="x_panel">
                  <div class="x_title">
                    <h2>Faena</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   
                    <table id="tabla" class="table table-striped table-bordered">
                        <thead>
                            <td>Id Faena</td>
                            <td>Nombre</td>
                            <td>Descripcion</td>
                            <td>Codigo Cliente</th>
                            <td>Empresa</td>
                            <td>Editar</td>
                            <td>Eliminar</td>
                        </thead>

                        <tbody>
                       
                        </tbody>
                    </table>
                   
                  </div>
                </div>


{% endblock %}

{% block javascripts %}

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('datepicker/locales/bootstrap-datepicker.es.min.js') }}"></script>
    <script>
    $(function() {
        $("#datepicker1,#datepicker2").datepicker({languaje:"es"});
    });
    </script>
    <script>
    $(document).ready(function() {
        $('#tabla').DataTable( {
            "ajax": 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/localfaena/',
            columns: [
            { data: 0 },
            { data: 1 },
            { data: 2 },
            { data: 3 },
            { data: 5 },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='editar("+data[0]+",\"" + data[1] + "\",\"" + data[2] + "\",\"" + data[3] + "\","+data[4]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Editar </a>";
                } },
            { data: null, render: function ( data, type, row ) {
                    return "<a href='#' onclick='eliminar("+data[0]+")' class='btn btn-action btn-xs'><i class='fa fa-folder'></i> Eliminar </a>";
                } }
            ]
            } );

        $.ajax({
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/empresa/',
            type: 'get',
            dataType: 'json',
            success: function( json ) {
                $.each(json, function(i, value) {
                    for(a=0;a<=value.length;a++){
                        $('<option></option>', {text:value[a][1]}).attr('value', value[a][0]).appendTo('#idempresa');
                    }
                });
            }
        });
    });

    $("#submit").click(function () {

        idFaena = $("#idfaena").val();
        Nombre = $("#nombre").val();
        Descripcion = $("#descripcion").val();
        Codigocliente = $("#codigocliente").val();
        idEmpresa = $("#idempresa").val();

        if(idFaena=="")
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/localfaena/create',
            data: JSON.stringify({"localfaena":{"nombre" : Nombre, "descripcion" : Descripcion,"codigocliente" : Codigocliente,"idEmpresa" : idEmpresa}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }else
        {
            $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            headers: {
                        "Access-Control-Allow-Origin" : "*", // Required for CORS support to work
                        "Access-Control-Allow-Credentials" : true, // Required for cookies, authorization headers with HTTPS ,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'},
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/localfaena/',
            data: JSON.stringify({"localfaena":{"id":idFaena,"nombre" : Nombre, "descripcion" : Descripcion,"codigocliente" : Codigocliente,"idEmpresa" : idEmpresa}}),
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
        }
        window.setTimeout(function(){location.reload()},1000);
     });


    function editar(idfaena,nombre,descripcion,codigocliente,idempresa){

        $("#idfaena").val(idfaena);
        $("#nombre").val(nombre);
        $("#descripcion").val(descripcion);
        $("#codigocliente").val(codigocliente);  
        $("#idempresa").val(idempresa);
     }

     function eliminar(id){

      $.ajax({
            type: "DELETE",
            url: 'http://middlewareapp-dev-opt.us-east-2.elasticbeanstalk.com/api/dashboard/localfaena/'+id,
            success: function(response) {
                alert(JSON.stringify(response['responseText']));
            }, 
            error: function(response) {
                alert(JSON.stringify(response['responseText']));
            }
            });
            window.setTimeout(function(){location.reload()},1000);
     }

</script>
{% endblock %}

{% block stylesheets %}

<!-- Datatables -->
    <link href="{{asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{asset('css/buttons.bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .toolbar {
          float: left;
      }
    </style>
{% endblock %}
